@media screen and (max-width: 1030px){
    #main .flex {
        width: 75%;
    }
    #header .sos{
        display: none;
    }
    #we {
        margin-top: 60px;
    }
    #form #input {
        text-align: center;
    }
}

@media screen and (max-width: 780px){
    #header {
        overflow: hidden;
    }
    #header .text p {
        font-size: 37px;
        line-height: 46px;
    }
    #adven .col-md-4 .text p {
        font-size: 28px;
    }
    #pos .card {
        right: 30px;
    }
    #solution {
        overflow: hidden;
    }
    #solution .col-md-5 p {
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
    }
    #we .text p {
        font-size: 39px;
    }
    #we .text .red_1 p {
        margin: 20px 0;
    }
    #solution .col-md-7 {
        height: auto;
    }
    #work .col-md-4 .text span {
        font-size: 14px;
        line-height: 20px;
    }
    #work .text_1 p {
        font-size: 13px;
        padding: 30px;
        border-top: 1px solid #ce5364;
        margin-top: 24px;
    }
    #develop .text p {
        font-size: 26px;
        padding: 15px 18px;
        margin: 25px 0;
    }
    #project .col-md-4 .text span {
        font-size: 14px;
        line-height: 20px;
    }
    #promod .text p {
        font-size: 26px;
        padding: 15px 18px;
        margin: 25px 0;
    }
    #ways .col-md-4 span {
        font-size: 14px;
        line-height: 20px;
    }
    #po_2 p {
        font-size: 26px;
        text-align: center;
        margin-bottom: 40px;
    }
    #po_2 {
        padding: 40px 0;
    }
    #why .col-md-8 p {
        font-size: 19px;
    }
    #why .col-md-4 .text span {
        font-size: 14px;
        line-height: 20px;
    }
    #our .col-md-6 .text p {
        font-size: 16px;
        line-height: 20px;
    }
    #our .col-md-6 .text span {
        font-size: 16px;
        line-height: 20px;
    }
    #our .col-md-6 .text_1 ul li {
        font-size: 14px;
        margin-bottom: 10px;
    }
    #pro .card p {
        font-size: 15px;
        padding: 10px;
        margin: 0;
    }
    #pro .card {
        height: auto;
    }
    #pro .col-md-4 .card img {
        height: 200px;
    }
    #client .text p {
        font-size: 35px;
    }
    #client .car_1 img {
        width: 100%;
    }
    #client .car_1 .card_c {
        height: 140px;
    }
    #form .text p {
        font-size: 30px;
    }
    #form .col-md-5 form p {
         font-size: 14px;
     }
    #form input,
    #form input::placeholder{
        width: 100%;
        height: 40px;
        font-size: 15px;
    }
    #form #dropzone p {
        font-size: 16px;
    }
    #form button {
        margin-top: 30px;
    }
    #footer .col-md-4 .text p {
        font-size: 14px;
    }
    #footer .col-md-4 p a {
        font-size: 18px;
    }
    #footer .col-md-4 ul li a {
        font-size: 14px;
    }
    #why .col-md-8 .text_pos p {
        padding: 10px;
    }
    #why p {
        font-size: 35px;
    }
    #po_2 .col-md-4 img {
        height: 200px;
    }
    #po_2 .col-md-4 p {
        font-size: 16px;
    }
    #main .menu li {
        margin-right: 20px;
    }
    #header .anim .img_5 {
        right: 0;
    }
    #header .anim .img_4 {
        right: -40px;
    }
}

@media screen and (max-width: 430px){
    #main .flex {
        display: block;
        width: 60%;
        justify-content: space-between;
        text-align: right;
    }
    #main .logo {
        width: 25%;
    }
    #main .flex {
        width: 75%;
    }
    #main {
        padding: 20px 10px;
        height: auto;
    }
    #main .menu li {
        margin: 0;
        margin-left: 20px;
    }
    #main .row {
        align-items: unset;
    }
    #header {
        position: relative;
    }
    #header .img {
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        left: 50px;
    }
    #header .text {
        width: 90%;
        position: absolute;
        left: 20px;
        z-index: 9;
    }
    #header .back {
        width: 90%;
    }
    #cust .text span {
        font-size: 27px;
    }
    #cust .text p {
        font-size: 16px;
    }
    #cust .back {
        height: 150px;
    }
    #cust .text {
        padding-top: 80px;
    }
    #cust .col-md-4 p {
        font-size: 18px;
    }
    #cust .col-md-4 span {
        font-size: 14px;
    }
    #cust .col-md-4 {
        margin: 30px 0;
        margin-bottom: 10px;
    }
    #adven .text p {
        font-size: 24px;
    }
    #adven .col-md-4 .text p {
        font-size: 22px;
        border-left: 1px solid #adf;
        padding-left: 10px;
    }
    #adven .col-md-4 span {
        font-size: 14px;
    }
    #solution {
        padding: 0;
    }
    #solution .col-md-5 p {
        font-size: 30px;
    }
    #solution .col-md-5 span {
        color: #494949;
        font-family: Montserrat;
        font-size: 14px;
    }
    #header .button a, #solution .button a, #why .button a {
        margin: 15px 0;
    }
    #solution .card {
        padding: 30px;
        margin-bottom: 10px;
    }
    #we .text p {
        font-size: 30px;
    }
    #we .text .red_1 p {
        font-size: 20px;
    }
    #we .col-md-6 ul li {
        font-size: 14px;
        line-height: 20px;
    }
    #we .col-md-6 .text_1 p {
        font-size: 14px;
        line-height: 20px;
    }
    #work .text p {
        font-size: 22px;
        padding: 30px 0;
    }
    #work .col-md-4,
    #project .col-md-4,
    #ways .col-md-4,
    #po_2 .col-md-4{
        margin-bottom: 40px;
    }
    #develop .text p {
        font-size: 18px;
        margin: 25px 0;
        margin-top: 0;
    }
    #project .text p {
        font-size: 25px;
        margin-bottom: 50px;
    }
    #project .col-md-4 .text p {
        margin: 10px 0;
        font-size: 18px;
    }
    #promod .text p {
        font-size: 20px;
    }
    #promod .text span {
        font-size: 16px;
    }
    #ways .text p {
        font-size: 22px;
    }
    #ways .col-md-4 p {
        margin-bottom: 10px;
    }
    #po_2 p {
        font-size: 20px;
    }
    #po_2 .col-md-4 img {
        height: auto;
    }
    #why p {
        font-size: 26px;
    }
    #why .col-md-8 p {
        font-size: 19px;
        padding-top: 30px;
        border-top: 1px solid #007bff;
    }
    #why .text_pos p {
        border: 0;
    }
    #why .col-md-8 .text_pos p {
        padding: 6px;
    }
    #our .text p {
        font-size: 30px;
    }
    #why .button a {
        margin-bottom: 50px;
    }
    #our .col-md-6 .text p {
        font-size: 14px;
    }
    #our .col-md-6 .text span {
        font-size: 14px;
    }
    #our .col-md-6 .text_1 p {
        font-size: 20px;
        margin: 20px 0;
    }
    #pro .col-md-4 .card img {
        height: auto;
    }
    #pro .text {
        height: auto;
    }
    #client .text p {
        font-size: 27px;
    }
    #client .carousel-item {
        margin-top: 20px;
    }
    #form .text p {
        font-size: 21px;
    }
    #form .col-md-5 {
        padding: 0 30px;
    }
    #footer .f_flex ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 30px;
    }
    #footer .f_flex {
        display: unset;
    }
    #footer {
        margin-top: 60px;
    }
    #footer .col-md-4 {
        margin: 10px 0;
    }
    #footer .col-md-4 .text p {
        margin-bottom: 0;
    }
    #slider {
        height: 15vh;
        display: none;
    }
    #header {
        position: relative;
        margin-bottom: 10px;
    }
    #work {
        overflow: hidden;
    }
    #form button:hover {
        transition: unset;
        text-align: unset;
        left: 50%;
        transform: translate(-50%);
    }
    #main .number i {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    #develop .text p {
        font-size: 16px;
    }
    #why .col-md-8 .text_pos p {
        padding: 0px;
    }
    #main .number a {
        font-size: 16px;
    }
    #main .menu li a {
        font-size: 14px;
    }
    #main .menu li {
        margin: 0;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    #project {
        padding: 50px 20px;
    }
    #ways {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 330px) {
    #main .menu ul {
        display: flex;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    #pos .card {
        right: 0;
    }
    #pos .card p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    #pos .card {
        width: 260px;
    }
    #solution {
        margin: 60px 0;
    }
    #solution .col-md-7 {
        height: auto;
        margin-top: 90px;
    }
    #we .col-md-6 .text {
        padding-right: 0;
    }
    #we .col-md-6 .text p {
        font-size: 15px;
    }
    #develop .text p {
        font-size: 14px;
        margin: 25px 0;
        margin-top: 0;
        padding: 10px 10px;
    }
    #develop .text span {
        font-size: 14px;
    }
    #develop .text ul li {
        font-size: 14px;
        margin-top: 0;
    }
    #project {
        padding: 50px 20px;
    }
    #promod .text p {
        font-size: 14px;
        padding: 10px 10px;
        margin: 10px 10px;
    }
    #promod .text span {
        font-size: 14px;
        line-height: 20px;
    }
    #promod .text ul li {
        font-size: 14px;
        margin-top: 0;
    }
    #ways {
        padding: 50px 15px;
    }
    #ways .text p {
        font-size: 19px;
    }
    #po_2 p {
        font-size: 16px;
    }
    #po_2 .col-md-4 .text {
        height: 70px;
    }
    #po_2 .col-md-4 p {
        font-size: 14px;
        padding: 10px;
    }
    #why .col-md-4 .text p {
        font-size: 18px;
        margin-bottom: 3px;
    }
    #why .col-md-8 .text_pos p {
        padding: 10px;
        margin: 1px 0;
    }
    #client .car_2{
        display: flex;
    }
    #client .car_1{
        display: none;
    }
    #client .car_2 .card_c img {
        width: 100%;
        padding: 10px;
    }
    #client ol.carousel-indicators {
        display: none;
    }
    #client .text p {
        font-size: 20px;
    }
    #client .controls-top i {
        color: #494949;
        font-size: 20px;
    }
    #client #multi-item-example {
        margin-top: -43px;
    }
    #form .text p {
        font-size: 18px;
    }
    #form input, #form input::placeholder {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
    #form textarea,
    #form textarea::placeholder{
        font-size: 14px;
    }
    #form #dropzone p {
        font-size: 14px;
    }
    #form button,
    #why .button a,
    #solution .button a,
    #header .button a{
        font-size: 14px;
        padding: 10px 30px;
    }
    #our .col-md-6 .col_1 ul {
        padding: 0 10px;
    }
    #our .col-md-6 .text_1 ul li {
        font-size: 12px;
    }
    #we .text p {
        font-size: 18px;
    }
    #we .text .red_1 p {
        font-size: 14px;
        padding: 10px;
        margin: 5px 0;
    }
    #we .col-md-6 .text p {
        font-size: 14px;
        line-height: 23px;
    }
    #work .col-md-4 .text p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    #work .col-md-4 p {
        font-size: 80px;
    }
    #work .text_1 p {
        font-size: 13px;
        padding: 20px 0;
    }
    #project .text p {
        font-size: 22px;
    }
    #ways .text p {
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
    }
    #header .text p {
        font-size: 28px;
        line-height: 40px;
    }
    #cust .text span {
        font-size: 22px;
    }
    #cust .col-md-4 p {
        font-size: 16px;
        line-height: 23px;
    }
    #cust .col-md-4 span {
        font-size: 14px;
        line-height: 20px;
    }
    #cust {
        position: relative;
        padding-bottom: 30px;
    }
}
