@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');

body {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}

#main {
    padding: 20px 0;
    height: 15vh;
}
.main_c {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 99999;
    height: 80px !important;
}

#main .logo img {
    width: 100%;
}

#main .logo {
    width: 120px;
}

#main .menu li a {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 2px solid #fff;
}

#main .menu li a:hover {
    border-bottom: 2px solid #406cff;
}

#main .menu ul {
    display: flex;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
}

#main .menu li {
    list-style: none;
    margin-right: 20px;
}

#main .number a {
    color: #494949;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}

#main .row {
    justify-content: space-between;
    align-items: center;
}

#main .flex {
    display: flex;
    width: 88%;
    justify-content: space-between;
    align-items: center;
}

#main .number i {
    margin-left: 10px;
}


/* Header */

#header .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 53px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px;
}

#header .img {
    width: 47%;
    position: relative;
}
#header .anim .img_1 img ,
#header .anim .img_2 img ,
#header .anim .img_3 img ,
#header .anim .img_4 img,
#header .anim .img_5 img {
    width: 100%;
}
#header .anim .img_2 {
    width: 200px;
    position: absolute;
    top: 107px;
    left: 194px;
    z-index: 9 ;
}
#header .anim .img_1 {
    width: 47px;
    position: absolute;
    top: 80px;
    left: 110px;
}
#header .anim .img_4 {
    width: 55px;
    position: absolute;
    right: 64px;
    bottom: 81px;
}
#header .anim .img_3 {
    width: 15px;
    position: absolute;
    top: 210px;
    left: 213px;
}
#header .anim .img_5 {
    width: 15px;
    position: absolute;
    top: 100px;
    right: 195px;
}
#header .text {
    width: 43%;
}

#header .text span {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#header .sos p {
    transform: rotate(90deg);
    height: 90px;
    text-align: center;
}

#header .button a,
#solution .button a,
#why .button a {
    color: #fefefe;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 3px;
    background-color: #406cff;
    padding: 13px 35px;
    margin: 0;
    text-transform: none;
    cursor: pointer;
    display: inline-block;
    width: max-content;
}

#header .button p {
    margin-top: 30px;
}

#header .container {
    padding: 100px 0;
    padding-bottom: 70px;
}

#header .back {
    background-color: #d5dfff;
    opacity: 0.7;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 60%;
    z-index: -1;
}

#solution .button p {
    position: relative;
    width: 100px;
    height: 270px;
}

#header .sos {
    position: relative;
    width: 115px;
    height: 5%;
    justify-content: space-between;
}

#header .sos a {
    color: #494949;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#header .img img {
    width: auto;
}

#header {
    position: relative;
    width: 100%;
    height: 70vh;
}

.scroll-downs {
    position: absolute;
    width: 100%;
    height: 55px;
    text-align: center;
    bottom: 10px;
}

.mousey {
    width: 2px;
    padding: 5px 10px;
    height: 27px;
    border: 2px solid #aeaeae;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    padding-top: 0;
}

.scroller {
    width: 2px;
    height: 10px;
    border-radius: 25%;
    background-color: #c6c6c6;
    animation-name: scroll;
    animation-duration: 2.2s;
    opacity: 1;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

#slider {
    height: 15vh;
}

#slider i {
    font-size: 25px;
    color: #aeaeae;
}


/* Cust */

#cust {
    position: relative;
}

#cust .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

#cust .text span {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

#cust .back {
    background-color: #d5dfff;
    opacity: 0.7;
    position: absolute;
    width: 28%;
    height: 210px;
    z-index: -1;
    top: 0;
}

#cust .text {
    padding-top: 120px;
}

#cust .col-md-4 p {
    color: #494949;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    margin: 12px 0;
    font-size: 20px;
}

#cust .col-md-4 span {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#cust .col-md-4 {
    margin: 60px 0;
    margin-top: 30px;
}

#adven {
    background-image: linear-gradient(to right, #004fc0, #1158c7, #1d61cf, #276ad6, #3073dd);
    width: 100%;
    height: auto;
    padding: 50px 0;
    padding-bottom: 90px;
}

#adven .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    margin: 0;

}

#adven .col-md-4 .text p {
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    line-height: 24px;
}

#adven .col-md-4 span {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#adven .col-md-4 {
    margin-top: 20px;
}

#adven .col-md-4 .text p {
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    line-height: unset;
    margin-bottom: 15px;
}

#pos .card {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 15px 25px;
    width: 300px;
    position: relative;
    right: 150px;
    margin: 0;
    float: right;
    margin-top: -40px;
}

#pos .card p {
    margin: 0;
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#solution {
    padding: 80px 0;
    margin: 90px 0;
    margin-bottom: 0;
}


#solution .col-md-5 p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
}

#solution .col-md-5 span {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#solution .col-md-7 {
    position: relative;
    height: 325px;

}

#solution .col-md-5 {
    height: 325px;
}

#solution .col-md-7 img {
    position: absolute;
    top: -65px;
    right: -50px;
}

#solution .card {
    padding: 45px;
}

#solution .card p {
    color: #494949;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 26px;
}

#solution .col-md-7 .card span {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#solution .card {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

#we .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
}

#we .text .red_1 p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #cc1f36;
    width: max-content;
    padding: 13px 16px;
    margin: 45px 0;
}

#we .col-md-6 .text {
    padding-right: 50px;
}

#we .col-md-6 .text p {
    color: #494949;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
}

#we .col-md-6 ul {
    margin: 0;
    padding: 0 15px;
}

#we .col-md-6 ul li {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 10px;
    list-style: url(../img/icon/elip.png);
    margin-bottom: 10px;
}

#we .col-md-6 .text_1 p {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
#we .col-md-6 .text_1 span {
    color: #cc1f36;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
#pro .img img {
    width: 100%;
    height: 100%;
}
#pro .img {
    height: 250px;
}
a.scrollto i {
    width: 50px;
    height: 49px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: #fff;
    background: #406cff;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}
.carousel-item img {
    width: 100%;
    padding: 14%;
}
#scroll_c{
    display: none;
    transition: all .5s;
}
/* We */

#work {
    margin-top: 50px;
    background: url(../img/back_1.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

#work .text p {
    color: #fefefe;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    padding: 50px 0;
    text-align: center;
}

#work .col-md-4 .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    padding: 0;
    opacity: 1;
    position: relative;
}

#work .col-md-4 .text span {
    color: #eaeaea;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#work .col-md-4 p {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 26px;
    opacity: 0.1;
    font-size: 100px;
}

#work .col-md-4 .text {
    padding-top: 35px;
}

#work .col-md-4 {
    position: relative;
    cursor: pointer;
}

/*#work .col-md-4:hover,*/
/*#project .col-md-4:hover,*/
/*#ways .col-md-4:hover {*/
    /*box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);*/
    /*-webkit-transform: scale(1.04);*/
    /*transition: all .5s;*/
    /*transform: scale(1.04);*/
    /*cursor: pointer;*/
    /*transition: all 0.3s;*/
/*}*/

#pro .col-md-4:hover,
#po_2 .col-md-4:hover {
    -webkit-transform: scale(1.03);
    transition: all .5s;
    transform: scale(1.02);
    cursor: pointer;

    transition: all 0.3s;
}
#pro .col-md-4,
#po_2 .col-md-4 {
    transition: all 0.3s;
}

#work .col-md-4 .text_c {
    position: absolute;
    top: 25px;
}

#work .text_1 p {
    color: #eaeaea;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    padding: 55px;
    border-top: 1px solid #ce5364;
    margin-top: 25px;
}

#develop {
    padding: 50px 0;
    width: 100%;
    height: auto;
    position: relative;
}

#develop .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 3px;
    background-color: #476a57;
    width: max-content;
    padding: 15px 18px;
    margin: 50px 0;
}

#develop .text span {
    color: #494949;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 28px;
}

#develop .text ul {
    padding: 0 15px;
    margin-top: 15px;
}

#develop .text ul li {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 10px;
    margin-top: 10px;
    list-style: url(../img/icon/elip_2.png);
}

#project {
    padding: 50px;
    background: url(../img/back_2.png);
    background-size: cover;
    height: auto;
    position: relative;
}

#project .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 50px;
    text-align: center;
}

#project .col-md-4 .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 26px;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
}

#project .col-md-4 .text span {
    color: #eaeaea;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#promod {
    padding: 50px 0;
}

#promod .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    border-radius: 3px;
    background-color: #8133c9;
    line-height: 24px;
    padding: 15px 18px;
    margin: 50px 0;
    width: max-content;
}

#promod .text span {
    color: #494949;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
}

#promod .text ul {
    padding: 0 15px;
}

#promod .text ul li {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style: url(../img/icon/elip_3.png);
    padding-left: 10px;
    margin-top: 10px;
}

#promod .text ul {
    padding: 0 15px;
    margin-top: 15px;
}

#ways {
    padding: 50px;
    background: url(../img/back_3.png);
    background-size: cover;
    background-position: center;
}


#ways .text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    margin-bottom: 50px;
}

#ways .col-md-4 p {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 20px;
}

#ways .col-md-4 span {
    color: #eaeaea;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#po_2 {
    padding: 100px 0;
}

#po_2 p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

#po_2 .col-md-4 .card {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    width: 100%;
}

#po_2 .col-md-4 p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    padding: 25px;
    margin: 0;
}

#po_2 .col-md-4 .text {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 48px;
    cursor: pointer;
    font-weight: 700;
}

#why .col-md-4 .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 10px;
}

#why .button {
    width: 100%;
    text-align: center;
}

#why .button a {
    margin-top: 25px;
    margin-bottom: 120px;
    cursor: pointer;
}

#why .col-md-4 .text span {
    color: #737373;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#why .col-md-4 .text {
    margin-top: 40px;
    position: relative;
    cursor: pointer;
}

#why .col-md-8 p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 26px;
    font-size: 30px;
    margin-top: 30px;
}

#why .col-md-8 .text_pos p {
    font-family: Montserrat;
    padding: 15px;
    float: left;
}

#why p.tcl_1 {
    color: #696969;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 48px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px;
}

#why p.tcl_2 {
    color: #696969;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
}

#why p.tcl_3 {
    color: #696969;
    font-size: 48px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    padding: 29px;
    top: 30px;
    position: relative;
}

#why p.tcl_14 {
    color: #696969;
    font-size: 35px;
    font-weight: 800;
    line-height: 26px;
}

#why p.tcl_4 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    position: relative;
    top: 10px;
}

#why p.tcl_5 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
}

#why p.tcl_6 {
    color: #696969;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    top: 30px;
}

#why p.tcl_7 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

#why p.tcl_8 {
    color: #696969;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    left: 50px;
}

#why p.tcl_9 {
    color: #696969;
    font-size: 48px;
    font-weight: 800;
    line-height: 26px;
    position: relative;
    left: 60px;
}

#why p.tcl_10 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    margin: 20px;
}

#why p.tcl_11 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    color: #696969;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    top: -20px;
}

#why p.tcl_12 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin: -13px 50px;
}

#why p.tcl_15 {
    color: #696969;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    top: -60px;
}

#why p.tcl_16 {
    color: #696969;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
}

#why p.tcl_17 {
    color: #696969;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    margin-top: -40px;
}

#why p.tcl_18 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    margin-top: -5px;
}

#why p.tcl_22 {
    color: #696969;
    font-size: 48px;
    font-weight: 900;
    line-height: 26px;
    margin: -50px 20px;
}

#why p.tcl_20 {
    color: #696969;
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-top: -20px;
}

#why p.tcl_21 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    margin-top: 5px;
}

#why p.tcl_23 {
    color: #696969;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
}

#why p.tcl_25 {
    color: #696969;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    line-height: 26px;
    position: relative;
    margin-top: -5px;
}

#why p.tcl_26 {
    color: #696969;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    top: 20px;
}

#why p.tcl_28 {
    color: #696969;
    font-size: 48px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    margin-top: -20px;
}

#why p.tcl_27 {
    color: #696969;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    margin-top: -30px;
}

/* Our */

#our {
    padding: 60px 0;
    background-color: #e2e9ff;
    padding-bottom: 150px;
}

#our .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
}

#our .col-md-6 .text p {
    color: #494949;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

#our .col-md-6 .text span {
    color: #737373;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

#our .col-md-6 .text_1 p {
    color: #494949;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

#our .col-md-6 .text_1 ul li {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style: url(../img/icon/elip_5.png);
    padding-left: 10px;
    margin-bottom: 20px;
}

#our .col-md-6 .col_1 ul {
    padding: 0 15px;
}

#our .col-md-6 .text {
    width: 80%;
}

#our .col-md-6 .col_1 {
    display: flex;
    justify-content: space-between;
}

#pro .card {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    margin: 15px 0;
    height: 410px;
}

#pro .text {
    height: 140px;
}

#pro .card {
    cursor: pointer;
}

#pro .card p {
    color: #494949;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding: 25px;
    margin: 0;
}

#pro .cop p {
    margin: 180px 0;
    text-align: center;
}

#pro {
    margin-top: -120px;
}


/* Client */

#client {
    padding: 100px 0;
}

#client .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
}

#client .controls-top {
    float: right;
}

#client .controls-top i {
    color: #494949;
    font-size: 30px;
}

#client .controls-top {
    float: right;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#client #multi-item-example {
    margin-top: -55px;
}

#client .car_1,
#client .car_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#client .car_2 {
    display: none;
}

#client .car_1 .card_c {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#client .car_2 .card_c {
    width: 33.333%;
}

#client .carousel-item {
    margin-top: 100px;
}

#client .car_1 .card_c {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 0.5%;
    background-color: #ffffff;
}

#client .car_1 .card_c:hover {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

#form .text p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

#form .row {
    justify-content: center;
}

#form .col-md-5 form p {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20px;
}

#form input {
    border-radius: 2px;
    border: 1px solid #b8b8b8;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    color: #4c4c4c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

#form textarea {
    height: 150px;
    border-radius: 2px;
    border: 1px solid #b8b8b8;
    background-color: #ffffff;
    width: 100%;
    color: #4c4c4c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

#form textarea::placeholder,
#form input::placeholder {
    color: #808080;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
}

#form input:focus,
#form textarea:focus {
    outline: none;
}

#form #dropzone p {
    color: #808080;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin: 0;
}

#form #dropzone {
    border-radius: 2px;
    border: 2px dashed #d0d0d0;
    background-color: #ffffff;

    position: relative;
}

#form #dropzone {
    border-radius: 2px;
    border: 2px dashed #d0d0d0;
    background-color: #ffffff;
    padding: 20px;
}

#form button {
    color: #fefefe;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 3px;
    background-color: #406cff;
    border: 0;
    padding: 15px 50px;
    margin-top: 60px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    cursor: pointer;
    transition: all .5s;
}

#form form .text p {
    color: #808080;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 15px;
}

#form .col-md-5 {
    padding: 0;
}

#form a {
    text-decoration: underline;
}

#footer {
    margin-top: 120px;
}

#footer .col-md-4 .text p {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 25px 0;
}

#footer .col-md-4 p a {
    color: #494949;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

#footer .center p {
    margin: 0;
}

#footer .col-md-4 ul li {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
}

#footer .col-md-4 ul li a {
    color: #494949;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

#footer .col-md-4 ul li a:hover {
    border-bottom: 2px solid #406cff;
}

#footer .center a {
    color: #494949;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}

#footer .center {
    text-align: center;
}

#footer .f_flex {
    display: flex;
    justify-content: space-between;
}



/* PreLoader */

/*.loaderArea {*/

/*background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);*/

/*overflow: hidden;*/

/*position: fixed;*/

/*left: 0;*/

/*top: 0;*/

/*right:0;*/

/*bottom:0;*/

/*z-index: 100000;*/

/*}*/

/*.loader {*/

/*height: 40px;*/

/*width: 40px;*/

/*position: absolute;*/

/*left: 50%;*/

/*margin-left: -20px;*/

/*top: 50%;*/

/*margin-top: -20px;*/

/*}*/

/*.loader:before,*/

/*.loader:after {*/

/*content: "";*/

/*height: 40px;*/

/*width: 40px;*/

/*border: 8px solid rgba(255,255,255,.5);*/

/*border-radius: 10px;*/

/*position: absolute;*/

/*top: 0;*/

/*}*/

/*.loader:before {*/

/*animation: animate 2s infinite linear;*/

/*}*/

/*@keyframes animate {*/

/*0% {*/

/*transform: rotate(0) skew(0);*/

/*}*/

/*100% {*/

/*transform: rotate(180deg) skew(360deg);*/

/*}*/

/*}*/

/*.loader:after {*/

/*animation: animate2 2s infinite linear;*/

/*}*/

/*@keyframes animate2 {*/

/*0% {*/

/*transform: rotate(0) skew(0);*/

/*}*/

/*100% {*/

/*transform: rotate(-180deg) skew(-360deg);*/

/*}*/

/*}*/

.loaderArea {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff;
    z-index: 99;
}

.circles {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50vh;
    left: 50vw;
    /* background grey */
    transform: translate(-50%, -50%);
}

.circles div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transform-origin: top left;
}

.large-circle {
    background: #f03e3e;
    width: 150px;
    height: 150px;
    animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 3s infinite;
}

.mid-circle {
    background: #7950f2;
    width: 100px;
    height: 100px;
    animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 3s infinite 0.5s;
}

.small-circle {
    background: #fff;
    width: 50px;
    height: 50px;
    animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 3s infinite 0.8s;
}

@-moz-keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
    40% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, -50%);
    }
    60% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
}

@-webkit-keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
    40% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, -50%);
    }
    60% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
}

@-o-keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
    40% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, -50%);
    }
    60% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
    40% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, -50%);
    }
    60% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
}



/* Hover Effect */

#header .button a:hover, #solution .button a:hover, #form button:hover, #why .button a:hover {
    transition: all .5s;
    text-align: center;
    background-color: #193592;
}
#why p.tcl_1:hover,
#why p.tcl_5:hover,
#why p.tcl_12:hover,
#why p.tcl_19:hover,
#why p.tcl_28:hover,
#why p.tcl_27:hover {
    color: #3073dd;
}

#why p.tcl_2:hover,
#why p.tcl_6:hover,
#why p.tcl_14:hover,
#why p.tcl_18:hover,
#why p.tcl_16:hover {
    color: #7032a9;
}

#why p.tcl_3:hover,
#why p.tcl_7:hover,
#why p.tcl_13:hover,
#why p.tcl_25:hover,
#why p.tcl_24:hover {
    color: #365239;
}

#why p.tcl_4:hover,
#why p.tcl_8:hover,
#why p.tcl_11:hover,
#why p.tcl_17:hover,
#why p.tcl_15:hover,
#why p.tcl_26:hover,
#why p.tcl_21:hover {
    color: #952d3e;
}

#why p.tcl_22:hover,
#why p.tcl_9:hover,
#why p.tcl_10:hover,
#why p.tcl_20:hover {
    color: #00aff2;
}



/* Test */
#dropzone{
    transition: all .5s;
}
#dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
}

#dropzone.dropped {
    background: #222;
    border: 10px solid #444;
}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.load {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -10px;
    left: -10px;
}

#why .load i {
    background: #406cff;
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 0;
    border-radius: 100%;
    animation: circle 1.5s linear infinite 0s;
}

#why .load i:nth-child(2) {
    animation-delay: 0.5s;
}

#why .load i:nth-child(3) {
    animation-delay: 1s;
}


@keyframes circle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#load_1_c,
#load_2_c,
#load_3_c {
    display: none;
}


/* Animation */


.img_3{
    -webkit-animation: nextarrow 2s infinite;
    -moz-animation: nextarrow 2s infinite;
    -o-animation: nextarrow 2s infinite;
    animation: nextarrow 2s infinite;
}
.img_1{
    -webkit-animation: nextarrow_1 3s infinite;
    -moz-animation: nextarrow_1 3s infinite;
    -o-animation: nextarrow_1 3s infinite;
    animation: nextarrow_1 3s infinite;
}
.img_4{
    -webkit-animation: nextarrow_2 1s infinite;
    -moz-animation: nextarrow_2 1s infinite;
    -o-animation: nextarrow_2 1s infinite;
    animation: nextarrow_2 1s infinite;
}
.img_5{
    -webkit-animation: nextarrow_3 2s infinite;
    -moz-animation: nextarrow_3 2s infinite;
    -o-animation: nextarrow_3 2s infinite;
    animation: nextarrow_3 2s infinite;
}

/*@-webkit-keyframes nextarrow {*/
    /*0% {*/
        /*transform: scale(1);*/
    /*}*/
    /*50% {*/
        /*transform: scale(1.5);*/
        /*box-shadow: 1px 3px 15px rgba(87, 87, 87, 0.37);*/

    /*}*/
    /*100% {*/
        /*transform: scale(1);*/
    /*}*/
/*}*/
/*@-o-keyframes nextarrow {*/
    /*0% {*/
        /*transform: scale(1);*/
    /*}*/
    /*50% {*/
        /*transform: scale(1.5);*/
        /*box-shadow: 1px 3px 15px rgba(87, 87, 87, 0.37);*/
    /*}*/
    /*100% {*/
        /*transform: scale(1);*/
    /*}*/
/*}*/
/*@-moz-keyframes nextarrow {*/

    /*0% {*/
        /*transform: scale(1);*/
    /*}*/
    /*50% {*/
        /*transform: scale(1.5);*/
         /*box-shadow: 1px 3px 15px rgba(87, 87, 87, 0.37);*/
    /*}*/
    /*100% {*/
        /*transform: scale(1);*/
    /*}*/

/*}*/
@keyframes nextarrow {

    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
@keyframes nextarrow_3 {

    0% {
        top: 100px;
        opacity: 0;
    }
    25% {
        top: 85px;
        opacity: 1;
    }
    50% {
        top: 70px;
        opacity: 0;
    }
    75% {
        top: 85px;
        opacity: 1;
    }
    100% {
        top: 100px;
        opacity: 0;
    }

}
@keyframes nextarrow_1 {

    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }

}
@keyframes nextarrow_2 {

    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }

}